<div class="position-fixed top-0 bottom-0 right-0 w-100 h-100 create-outter-form-bg">
</div>

<div class="form-group">
    <div class="container-lg modal-dialog position-fixed bg-white create-form-position">
        <div class="modal-content d-flex justify-content-center m-auto p-5">
            <div class="d-flex flex-column container-xl">
                <input [(ngModel)]="createPostCommand.title" />

                <div class="m-3">
                    <div class="row gx-1">
                        
                            <button type="button" class="col-5 btn btn-warning pe-5 ps-5 pt-2 pb-2"
                                (click)="createPost()">Create</button>
                       
                            <button type="button"
                                class="col-5 btn btn-warning pe-5 ps-5 pt-2 pb-2"
                                (click)="closePostCreationForm()">Close</button>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>