<div class="position-fixed top-0 bottom-0 right-0 w-100 h-100 create-outter-form-bg">
</div>

<div [hidden]="isLoading" class="create-form-position row justify-content-center w-100 g-0">
    <div class="col-lg-6 col-md-8 col-sm-10 bg-white">
        <div class="d-flex flex-column m-3 justify-content-center m-auto p-5">

            <div class="h3 mb-4">
                Create new post
            </div>

            <div class="p-2 d-flex flex-column justify-content-center mb-3">
                <mat-form-field appearance="outline">
                    <input placeholder="Title" [(ngModel)]="createPostCommand.title" name="title" matInput required
                        minlength="1" maxlength="50" #title="ngModel">
                </mat-form-field>
                <span class="text-danger" [hidden]="!(title.invalid && (title.dirty || title.touched))">
                    Title is required and should be between 1 and 50 characters.
                </span>
            </div>

            <div class="row justify-content-evenly g-2">

                <div class="col-auto">
                    <button type="button" class="btn btn-warning pe-5 ps-5 pt-2 pb-2" 
                        (click)="createPost()" [disabled]="title.invalid || title.pristine">Create</button>
                </div>

                <div class="col-auto">
                    <button type="button" class="btn btn-warning pe-5 ps-5 pt-2 pb-2"
                        (click)="closePostCreationForm()">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<mat-spinner *ngIf="isLoading" class="spinner" [diameter]="70">
</mat-spinner>